<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try {
            ace.settings.check('sidebar', 'fixed')
        } catch (e) {
        }
    </script>
    <!-- #sidebar-shortcuts -->
    <ul class="nav nav-list" id="nav_list">
        <li class="home">
            <a href="javascript:void(0)" name="home.html" class="iframeurl" title="">
                <i class="icon-home"></i>
                <span class="menu-text"> 菜单 </span>
            </a>
        </li>
        <li class="home" style="margin-left: 15px;">
            <a href="javascript:void(0)" name="" title=""  th:title="视频列表"  class="iframeurl">
                <p>视频列表</p>
            </a>
        </li>
        <li class="home" style="margin-left: 15px;">
            <a href="javascript:void(0)" name="" title=""  th:title="播放量统计"  class="iframeurl">
                <p>播放量统计</p>
            </a>
        </li>
        <li class="home" style="margin-left: 15px;">
            <a href="javascript:void(0)" name="" title=""  th:title="管理员操作记录"  class="iframeurl">
                <p>管理员操作记录</p>
            </a>
        </li>
<!--        <li >-->
<!--            <a href="#" class="home">-->
<!--                <span class="menu-text" th:text="视频列表"></span>-->
<!--            </a>-->
<!--            <a href="#" class="home">-->
<!--                <span class="menu-text" th:text="播放量统计"></span>-->
<!--            </a>-->
<!--            <a href="#" class="home">-->
<!--            <span class="menu-text" th:text="管理员操作记录"></span>-->
<!--        </a>-->
<!--        </li>-->
    </ul>
    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>
</div>